/* CSS files add styling rules to your content */

body {
  font-family: "Pusab", arial, sans-serif;
  margin: 2em;
}
.anticopy {
  display: inline-block;  
  transform: rotate(180deg);
}
h1 {
  font-style: italic;
  color: #373fff;
  
}
h1:hover {
  color: rgb(244, 192, 092);
}
button:hover {
  color: blue;
}
input:hover {
  color: orange;
}
button {
  border: 6px ridge blue;
  margin: 5px 5px 5px 5px;
}
p {
  margin: 10px 10px 10px 10px;
}
a:visited {
  color: black;
}
a {
  color: black;
  font-style: none;
}
html {
  font-family: "Pusab";
}
button {
  font-family: "Pusab";
}


